1. Menentukan Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

2. Load Dataset

In [2]:
pembangkit_dataset = pd.read_csv('pembangkit.csv', sep=';')

pembangkit_dataset.head()

,time,gross,coal_flow,main_steam_press,feedwater_flow,nilai_kalori,air_flow
0,01-Jan-21,-0.1,0.0,0.1,359.5,NaN,0.0
1,02-Jan-21,-0.1,0.0,0.0,372.1,NaN,592.2
2,03-Jan-21,-0.1,0.0,0.0,384.9,NaN,0.0
3,04-Jan-21,-0.1,0.0,NaN,394.0,NaN,0.0
4,05-Jan-21,-0.1,0.0,0.0,407.1,NaN,26.0

In [3]:
pembangkit_dataset.fillna(0, inplace=True)

In [4]:
pembangkit_dataset.shape

(776, 7)

In [5]:
print(pembangkit_dataset.isnull().any())

time                False
gross               False
coal_flow           False
main_steam_press    False
feedwater_flow      False
nilai_kalori        False
air_flow            False
dtype: bool

In [6]:
print(pembangkit_dataset.duplicated().any())

False

In [7]:
print(pembangkit_dataset.dtypes)

time                 object
gross               float64
coal_flow           float64
main_steam_press    float64
feedwater_flow      float64
nilai_kalori        float64
air_flow            float64
dtype: object

In [8]:
pembangkit_dataset.head()

,time,gross,coal_flow,main_steam_press,feedwater_flow,nilai_kalori,air_flow
0,01-Jan-21,-0.1,0.0,0.1,359.5,0.0,0.0
1,02-Jan-21,-0.1,0.0,0.0,372.1,0.0,592.2
2,03-Jan-21,-0.1,0.0,0.0,384.9,0.0,0.0
3,04-Jan-21,-0.1,0.0,0.0,394.0,0.0,0.0
4,05-Jan-21,-0.1,0.0,0.0,407.1,0.0,26.0

3. Standarisasi Data

In [9]:
pembangkit_dataset = pembangkit_dataset.drop('time', axis=1)

In [10]:
# Hitung rata-rata (mean) dari semua nilai non-nol dalam tabel
mean_value = pembangkit_dataset[pembangkit_dataset != 0].mean().mean()

In [11]:
# Ganti nilai 0 dengan nilai mean
pembangkit_mean = pembangkit_dataset.replace(0, mean_value)

# tampilkan tabel baru
pembangkit_mean.head()

,gross,coal_flow,main_steam_press,feedwater_flow,nilai_kalori,air_flow
0,-0.1,1160.599622,0.100000,359.5,1160.599622,1160.599622
1,-0.1,1160.599622,1160.599622,372.1,1160.599622,592.200000
2,-0.1,1160.599622,1160.599622,384.9,1160.599622,1160.599622
3,-0.1,1160.599622,1160.599622,394.0,1160.599622,1160.599622
4,-0.1,1160.599622,1160.599622,407.1,1160.599622,26.000000

In [12]:
# Hapus baris yang memiliki nilai 0
pembangkit_no_zero = pembangkit_dataset[(pembangkit_dataset != 0).all(axis=1)]

print(pembangkit_no_zero)

     gross  coal_flow  main_steam_press  feedwater_flow  nilai_kalori  \
87   225.8      193.4               8.2           838.6        3877.3
88   405.7      326.9              12.1          1453.4        3491.5
89   450.0      345.5              13.4          1570.8        3573.0
90   459.8      343.9              13.7          1619.1        3744.9
91   539.7      371.4              15.7          1905.8        3762.7
..     ...        ...               ...             ...           ...
771  399.2      267.8              12.6          1295.1        4199.1
772  342.2      229.8              11.8          1125.6        4054.2
773  439.6      291.9              13.7          1419.4        3534.5
774  436.4      263.7              13.5          1402.0        4045.2
775  460.4      308.3              14.0          1468.8        3662.2

     air_flow
87      889.9
88     1338.4
89     1455.9
90     1456.6
91     1655.2
..        ...
771    1249.9
772    1207.6
773    1373.5
774    1336.4
775    1469.8

[570 rows x 6 columns]

4. Visualisasi Data

5. seleksi fitur

In [13]:
features = ['coal_flow','main_steam_press', 'feedwater_flow', 'nilai_kalori', 'air_flow']
x = pembangkit_no_zero[features]
y = pembangkit_no_zero['gross']
x.shape, y.shape

((570, 5), (570,))

6. Split data training dan testing

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=70)
y_test.shape

(143,)

7. membuat model regresi linier

In [15]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)
pred = lr.predict(x_test)

In [16]:
score = lr.score(x_test, y_test)
print('akurasi model prediksi dengan regresi liner = ', score)

akurasi model prediksi dengan regresi liner =  0.9884994252027698

8. Membuat inputan model regresi linier

In [17]:
# 'coal_flow','main_steam_press', 'feedwater_flow', 'nilai_kalori', 'air_flow'
input_data = np.array([[193.4,9,838.6,3877.3,889.9]])

prediction = lr.predict(input_data)
print('Besar listrik yang dihasilkan PLTU = ', prediction, 'MWH')

Besar listrik yang dihasilkan PLTU =  [256.38206369] MWH

c:\Users\Hawlett-Packard\miniconda3\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

9. Simpan model menggunakan pickle

In [29]:
import pickle

filename = 'prediksi_pembangkit.sav'
pickle.dump(lr,open(filename, 'wb'))